{% if messages %}
    {% for message in messages %}
        <div>
            <strong>{{message|safe}}</strong>
        </div>
    {% endfor %}
{% else %}


    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h1>Urkundenersteller</h1>

        {% if error %}
            <div style="color: red">
                <strong>{{error|safe}}</strong>
            </div>
            <br>
        {% endif %}

        <label for="club_name">Ausrichtender Verein:</label>
        <input type="text" name="club_name" placeholder="BSV Eggenstein-Leopoldshafen">
        <br>
        <label for="tournament_name">Turnier:</label>
        <input type="text" name="tournament_name" placeholder="C Rangliste">
        <br>
        <label for="date">Datum:</label>
        <input type="date" name="date" placeholder="Datum">
        <br>
        <label>CSV-Datei der Platzierungen</label>
        <input type="file" name="file"/>
        <br>
        <button type="submit">Hochladen</button>
        <br>
        <br>
        <a href="urkunden">Zuletzt erstellte Urkunden</a>
    </form>

{% endif %}