{% if messages %}
    {% for message in messages %}
        <div>
            <strong>{{message|safe}}</strong>
        </div>
    {% endfor %}
{% else %}


    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h1>Urkundenersteller</h1>

        <label for="club_name">Verein:</label>
        <input type="text" name="club_name" placeholder="BSV Eggenstein-Leopoldshafen">
        <br>
        <label for="tournament_name">Turnier:</label>
        <input type="text" name="tournament_name" placeholder="C Rangliste">
        <br>
        <label for="date">Datum:</label>
        <input type="date" name="date" placeholder="Datum">
        <br>
        <label>CSV-Datei der Platzierungen</label>
        <input type="file" name="file"/>
        <br>
        <button type="submit">Hochladen</button>
    </form>

{% endif %}